

.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 50px;
}
.card-container{
    border-right: 2px solid lightgray;
    margin-right: 15px;
    
}
.card-design{
    
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}